
<nav class="navbar">

  <div class="container-nav-inner">
     
      <a class="brand" href="/">
      <img src="https://i.imgur.com/E7kbuIw.png" alt="MotoNotes logo" class="logo">
    </a>

<div class="nav-links">
  
  <% if (user) { %>
  <span class="nav-user">Hi, <%= user.username %></span>
  <a href="/posts">All Posts</a>
  <a href="/posts/new">Add Post</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>

  </div> 
</div>
</nav>
