<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
</head>
<body>
  
   <%- include('../partials/_navbar.ejs') %>   

  <h1>All Posts</h1>
   
  <ul>
    <% posts.forEach((post)=>  { %>

    <li>
       <%= post.title %>

        <a href="/posts/<%= post._id %>"> More Details </a>
    
    </li>

    <%  }) %>
  </ul>

  
</body>
</html>